/* Sets all the text color to red! */

input.kanbanMOC {
	display: block; 
	margin: 10px auto;
	font-size:17px;

	border: 1px solid #ccc;
	padding: 7px 0px;
	border-radius: 3px;
	padding-left:5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
input.kanbanMOC:focus{
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
button.kanbanMOC{
	display:block;
	margin:10px auto;
	border: 0.5px solid var(--button-border, #7a9486);
	border-radius: var(--button-border-radius, 5px);
	background-color: var(--button-background);
	padding: 10px 30px;
	color: var(--button-text);
	text-decoration: none;
	font-size: var(--button-size);
	box-shadow: 0 1px 3px var(--button-box-shadow, rgba(0, 0, 0, 0.12)),
	  0 1px 2px var(--button-box-shadow, rgba(0, 0, 0, 0.24));
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
  
button.kanbanMOC:hover {
	display:block;
	margin:10px auto;
	z-index: 100;
	box-shadow: 0 4px 4px var(--button-box-shadow, rgba(210, 210, 210, 0.25)), 0 10px 10px var(--button-box-shadow, rgba(210, 210, 210, 0.22));
	transform: translate3d(0px, -1.5px, 0px);
}


.block-language-yamledit>div{
	overflow :auto;
  }
  
.block-language-yamledit table{
	overflow :auto!important;
	width: unset!important;
	box-shadow:none;
	}
  
.block-language-yamledit table  tr th:first-child, 
.block-language-yamledit table  tr td:first-child {
	word-break: break-all;
	/* width: 100%; */
	min-width: 6em;
	max-width: 18em;
	text-align: left;
	  }
	  
.block-language-yamledit table  tr th:not(first-child), 
.block-language-yamledit table  tr td:not(first-child) {
	  word-break: break-all;
	  /* width: 8em; */
	  /* min-width: 8em; */
	  /* max-width: 10em; */
	  text-align: center;
	  }
.block-language-yamledit>div>table  tr td:not(first-child) input[type=text] {
		word-break: break-all;
		width: 100%;
	  }
.block-language-yamledit>div>table  tr td:not(first-child) input[type=date] {
		  word-break: break-all;
		  width: 100%;
		  min-width: 11em;
		  text-align: left;
	  }
.block-language-yamledit table  tr td:not(first-child) input{
	word-break: break-all;
	/* width: 7em;
	min-width: 7em; */
	text-align: center;
}

.block-language-yamledit th {	
	  border-bottom:1px solid var(--background-secondary);
	  padding: 8px;
  }
.block-language-yamledit td {	
	font-size:13px;
	line-height:1.2;
	padding: 8px;
}
.block-language-yamledit td input{	
	font-size:13px;
	line-height:1.2;
	padding: 8px;
}

.block-language-yamledit table  > tr {
	  border-bottom: 1px solid #ccccccad;
  }
.block-language-yamledit table  > tr:last-child > td {
	  border-bottom: 0px;
  }
.block-language-yamledit  tr:hover td {
	  background-color: var(--interactive-hover);
	  color: var(--text-normal);
  }
.block-language-yamledit  tr:hover td input{
	background-color: var(--interactive-hover);
	color: var(--text-accent);
}
  
   

.block-language-yamledit td img {
	max-width: min(100%, 100px);
	max-width: min(100%);
 }

 div.tableOpreate input {
	 max-width: 30%;
 }


 
 /* 首列表格固定*/

 body.theme-light .block-language-yamledit table  tr td:first-child {
     position: sticky;
     left: 0;
     right: 0px;
  background-color:#ffffff4d;
 }

 body.theme-dark .block-language-yamledit table  tr td:first-child {
  position: sticky;
  left: 0;
  right: 0px;
  background-color:#2e2e2e4d;
 }
 /* 表格滚动条*/
.block-language-yamledit>div::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: var(--background-modifier-border);
}
.block-language-yamledit>div::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background:var(--background-secondary-alt);
}


 /* 表格操作区域按钮 选择 输入框等样式*/
select.kanbanMOC {
	color: var(--text-normal);
	background:var(--background-secondary);  
	  height:28px;  
	  width:80px;  
	  line-height:28px;  
	  border:1px solid var(--background-modifier-border);  
	  -moz-border-radius:2px;  
	  -webkit-border-radius:2px;  
	  border-radius:2px; 
  }
  
  .tableOpreate input
  {
	 height:28px;  
	outline-style: none ;
	border:1px solid var(--background-modifier-border);  
	background:var(--background-secondary);  
	font-size:14px;
  }
  .tableOpreate input[type='submit']
  {
	display: inline-block;
	border-radius: 4px;
	background-color: var(--text-accent);
	color:rgba(245, 245, 225, 0.952);
	border: none;
	text-align: center;
	cursor: pointer;
	margin: 5px;
  }
  
  .tableOpreate button
  {
	
	background-color: rgb(var(--text-muted-rgb),0.2);
	border-radius: 4px;
	margin: 4px;
  }
  
  .tableOpreate input[type='submit']:hover
  {
	outline: none;
	background-color: var(--text-accent-hover);
  }
  
  select.kanbanMOC:focus {
	outline: none;
  }
  
  .tableOpreate>div button:last-child:hover
  {
	background-color: #ffb700c2;
  }
  .tableOpreate>div button:nth-last-child(2):hover
  {
	background-color: var(--background-modifier-success);
  }
  .tableOpreate>div button:first-child:hover
  {
	background-color: #e7bb4d94;
  }