#table-body .ag-root-wrapper-body {
  height: fit-content;
}

.custom-header-label {
  width: 100%;
  /* height: 100%;
  padding-top: 5%; */
}

.ag-theme-alpine-dark .ag-cell,
.ag-theme-alpine-dark .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  line-height: normal;
}


#table-body .ag-center-cols-container .ag-row {
  font-size: 12px;
}

#table-body .ag-theme-alpine .ag-large-text-input {
  height: auto;
  padding: 0px;
}

#table-body .ag-theme-alpine .ag-large-text::before {
  content: "💡 Press Shift+Enter to wrap";
  padding: 1em;
  position: absolute;
  bottom: 0;
  background: #ffbf0fde;
  width: 96%;
  margin-left: 2%;
  border-radius: 5px;
  line-height: .3em;

}

#table-body .ag-theme-alpine .ag-popup-editor {
  width: 40vh;
  background: #ffffff00;
  background-color: #f8f8f800;
  border: none;
  -webkit-box-shadow: none;
}

body .ag-theme-alpine .ag-cell {
  line-height: min(var(--ag-row-height, 25px), 13px)
}

#table-body .ag-theme-alpine .ag-ltr textarea[class^=ag-] {
  padding-left: 0.5em;
}

input.filterInput {
  margin: 0 8px;
  outline: none;
  border-bottom: 1px solid #dbdbdb;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  background-color: transparent;
}

h3.modalTitle:hover {
  color: cornflowerblue;
}

/* 单选多选样式 */
div[class^="mySelect"] {
  width: 250px;
}

div.mySelect-dark div[class$="control"] {
  background-color: rgb(31, 29, 29);
}

div.mySelect-dark div[class$="menu"] div {
  background-color: rgb(31, 29, 29);
}

div.mySelect-dark div[class$="multiValue"] {
  background-color: rgb(34, 118, 197);
}

div.mySelect-dark div {
  /* background-color: gray; */
  color: white;
}

div.mySelect div[class$="control"] {
  background-color: rgb(255, 255, 255);
  /* color: white; */
}

div.mySelect div[class$="menu"] div {
  background-color: rgb(255, 255, 255);
}

div.mySelect div[class$="multiValue"] {
  background-color: rgb(186, 198, 209);
}

/* 连接网址只显示一行 */
a.myUrl {
  white-space: nowrap;
  /* 文本不换行 */
  overflow: hidden;
  /* 内容会被修剪，并且超过设置宽度的内容是不可见的 */
}

textarea.formula {
  width: 700px;
  height: 350px;
}